* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* common */
body {
    font-family: 'Lato';
}
/* fine common */

/* body-container */
/* fine body-container */

/* wrapper */
/* fine wrapper */

/* col-sx */
/* fine col-sx */

/* col-dx */
/* fine col-dx */

