* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato';
}

/* common */
input:focus {
    outline: none;
}

i:hover {
    cursor: pointer;
    color: rgb(58, 170, 58);
}

.person:hover {
    cursor: pointer;
}
/* fine common */

/* body-container */
.body-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, 
    #009688 20%, #d9dbd3 20% 80%);
}
/* fine body-container */

/* wrapper */
.wrapper {
    width: 80%;
    height: 90vh;
    margin: auto;
    background-color: #eaeaea;
}
/* fine wrapper */

/* col-sx */
.col-left {
    float: left;
    width: 500px;
    height: 100%;
}

.account {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    height: 80px;
    background-color: #eaeaea;
    border-right: 1px solid lightgrey;
}

.user {
    display: flex;
    align-items: center;
    height: 100%;
    width: 50%;
}

.user img {
    width: 50px;
    border-radius: 50%;
}

.user span {
    margin-left: 10px;
}

.options {
    width: 120px;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #b1b1b1;
    font-size: 20px;
    font-weight: 800;
}

.notifications {
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: #8edafb;
    padding: 20px;
}

.silent-n {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    background-color: #f1fbff;
    border-radius: 50%;
    height: 50px;
}

.silent-n i {
    font-size: 20px;
    color: #8edafb;
}

.text-notifications {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    font-weight: 400;
}

.text-notifications a {
    color: grey;
    font-size: 12px;
}

.search {
    display: flex;
    width: 100%;
    height: 50px;
    padding: 7px;
}

.icon-search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 100%;
    background-color: white;
    border-right: 1px solid #eaeaea;
    color: #b1b1b1;
}

.input-search {
    width: 85%;
    height: 100%;
}

.input-search input {
    width: 100%;
    height: 100%;
    border: none;
    padding-left: 10px;
}

.contact {
    width: 100%;
    height: calc(100% - 210px);
    overflow-y: scroll;
    background-color: #fff;
}

.person {
    display: flex;
    padding: 10px 15px;
    width: 100%;
    height: 80px;
    border-top: 1px solid lightgray;
}

.person:hover {
    background-color: rgb(228, 228, 228);
}

.person img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.name-person {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    font-size: 18px;
}

.name-person span:last-child {
    margin-top: 8px;
    font-size: 14px;
    color: grey;
}
/* fine col-sx */

/* col-dx */
.col-right {
    float: left;
    width: calc(100% - 500px);
    height: 100%;
}

.receiver {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    padding: 10px;
}

.receiver-left {
    display: flex;
    align-items: center;
}

.receiver img {
    width: 50px;
    border-radius: 50%;
}

.receiver-info {
    margin-left: 10px;
}

.receiver-info p {
    font-size: 12px;
    color: gray;
}

.receiver-right {
    width: 120px;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #b1b1b1;
    font-size: 20px;
    font-weight: 800;
}

.chat {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 160px);
    overflow-y: scroll;
    background-image: url("../img/mine.jpg");
}

.message-computer {
    padding: 10px;
    margin: 10px;
    max-width: 70%;
    width: max-content;
    background-color: white;
    border-radius: 15px 15px 15px 0;
}

.message-person {
    padding: 10px;
    margin: 10px;
    max-width: 70%;
    width: max-content;
    align-self: flex-end;
    background-color: #dcf8c6;
    border-radius: 15px 15px 0 15px;
}

.message {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 80px;
    padding: 10px 20px;
    background-color: #f3eee9;
    color: grey;
    font-size: 25px;
}

.message input {
    width: 85%;
    border: none;
    border-radius: 5px;
    padding: 20px;
}
/* fine col-dx */

/* debug */
.debug .col-left {
    background-color: black;
}

.debug .col-right {
    background-color: red;
}

.debug .account {
    background-color: blue;
}

.debug .notifications {
    background-color: royalblue;
}

.debug .search {
    background-color: sienna;
}

.debug .contact {
    background-color: slateblue;
}

.debug .receiver {
    background-color: green;
}

.debug .chat {
    background-color: lightyellow;
}

.debug .message {
    background-color: orange;
}

.debug .person {
    background-color: purple;
}
